* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-top {
    height: calc(100vh - 70px);
    background-color: bisque;
    display: flex;

}

.container-bottom {
    height: 70px;
    background-color: #282828;
    color: white;
    position: relative;
    z-index: 99;
}

/* navbar */

.navbar-container {
    background-color: black;
    color: white;
}

.navbar {
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.navbar-playlist {
    flex-grow: 1;
    padding: 0 5px;
}

.navbar-icon-top,
.navbar-icon-bottom {
    flex-shrink: 0;
    padding: 0 5px;
}

.new-playlist-icon {
    width: 40px;
    height: 40px;
    background-color: #A3A3A3;
    text-align: center;
    padding: 5px;
}

.new-playlist-icon i {
    color: black;
    font-size: 30px;
}

.download-icon {
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

.profile-pic{
    background-color: #A3A3A3;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;    
}


/* content */

.container-content {
    width: 100%;
    background-color: cornflowerblue;

}

.container-content section {
    padding: 10px;
}

.upgrade-section {
    height: 50px;
    background-color: #080B12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.upgrade-button {
    border: 1px solid white;
    padding: 7px 20px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.link-section {
    background-color: #141922;
    padding: 0 10px;
}

.link {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link a { 
    display: inline-block;
    text-decoration: none;
    color: #878787;
    padding: 10px;
    font-size: 14px;
}

/* .accent {
    position: absolute;
    width: 25%;
    border: 1px solid greenyellow;
    background-color: greenyellow;
    bottom: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
} */


/* Action bar */

.action-bar-container {
    display: flex;
    height: 100%;
    padding: 0 10px;
    align-items: center;

}

.listening-container {
    flex: 1 0 80px;
    display: flex;
    align-items: center;
}

.player-container {
    flex: 3 0 190px;
}

.player-button {
    text-align: center;
    margin-bottom: 10px;
}

.player-button > i {
    padding: 0 5px;
}

.player-slide-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.player-slide,
.volume-slide {
    height: 5px;
    background-color: #5A5A5A;
    width: 100%;
    margin: 0 10px;
    position: relative;
}

.player-slide-progress,
.volume-slide-level {
    position: absolute;
    left: 0;
    position: absolute;
    height: 5px;
    width: 40%;
    background-color: #C1C1C1;
}

.tools-container {
    flex: 1 0 80px;
    display: flex;
    align-items: center;
}

.listening-cover-album {
    flex-grow: 0;
    width: 40px;
}

.listening-cover-album img {
    width: 100%;
}

.listening-name-singer {
    flex-grow: 1;
    text-align: center;
    padding: 0 3px;
}

.listening-name-singer h6 {
    color: #5A5A5A;
}

.listening-tools i {
    margin-left: 10px;
    color: #5A5A5A;
}

 /* section */

.container-content section {
    height: calc(100vh - 70px);
    overflow: hidden;
    background-color: #141922;
}

.container-content section h3 {
    padding: 10px 0;
    color: white;
}

.scroll-container {
    height: 100%;
    overflow: auto;
}

.album-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.album-container h5 {
    color: #878787;
}


.album-card {
    width: calc(100% / 2 - 4px);
}


.album-cover img {
    width: 100%;
}

/* utili */

.ds-none420 {
    display: none;
}